<section class="bg-primary" id="competition">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Competition Info<h2>
                <hr class="light">
                <p class="text-faded">The participants were required to run their VIO algorithms on sequences selected from the public <a href="http://rpg.ifi.uzh.ch/uzh-fpv.html">UZH-FPV Drone Racing Dataset</a>, which include images, IMU measurements, and event-based camera data recorded with a FPV drone racing quadrotor flown aggressively by an expert pilot. The goal was to estimate the quadrotor motion as accurately as possible, utilizing any desired sensor combinations.</p>
                <a href="https://github.com/uzh-rpg/ICRA2020-FPV-VIO-Competition/" class="btn btn-default btn-xl">details on github</a>
                <hr class="light">
                <p class="text-faded">This was the second edition of the competition <a href="https://github.com/uzh-rpg/IROS2019-FPV-VIO-Competition">first held at IROS 2019</a>. The evaluation datasets were exactly the same.
                </p>
                <hr class="light">
                <a href="http://rpg.ifi.uzh.ch/uzh-fpv.html" class="btn btn-default btn-xl page-scroll">View results</a>
            </div>
        </div>
    </div>
</section>
